/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Neutral
2.0 Main Colors
3.0 Color Pallete
3.0 Grey Scale
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Neutral
--------------------------------------------------------------*/

$white: #FFF;
$black: #000;

/*--------------------------------------------------------------
2.0 Main color
--------------------------------------------------------------*/

$significa: #5050FF; // Blue

/*--------------------------------------------------------------
3.0 Color Pallete
--------------------------------------------------------------*/

/*--------------------------------------------------------------
4.0 Grey Scale
--------------------------------------------------------------*/

$night: #3E4954; // Dark grey
$aluminum: #848995; // Grey
$moon: #E9EFF5; // Lines
$light: #F5F7F9; // Light grey background
