/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Config
2.0 Translate
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Transition
--------------------------------------------------------------*/

@mixin default-transition($param: all) {
	transition: $param $normal-transition-time $default-ease;
}

/*--------------------------------------------------------------
2.0 Translate
--------------------------------------------------------------*/

@mixin translateX($value: -50%) {
	transform: translateX($value);
}

@mixin translateY($value: -50%) {
	transform: translateY($value);
}

@mixin translateXY($value: -50%) {
	transform: translate($value , $value);
}
