/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 HTML Settings
2.0 General Settings
3.0 Heading 2
4.0 Serif
5.0 Heading 3
6.0 Text
7.0 Links
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 HTML settings
--------------------------------------------------------------*/

html {
	-webkit-overflow-scrolling: touch;

	box-sizing: border-box;

	-webkit-tap-highwhite-color: transparent;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility
}

/*--------------------------------------------------------------
2.0 General Settings
--------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  display: block;

	font-family: $main-font;
}

/*--------------------------------------------------------------
3.0 Heading 2
--------------------------------------------------------------*/

.heading-2 {
	font-family: $main-font;
	font-size: 24px;
	font-weight: 500;
	line-height: 40px;

  color: $black;

	letter-spacing: 0.3px;

  // COLOR MODIFIERS
  //.heading-2--white
  &--white {
    color: $white;
	}
}

/*--------------------------------------------------------------
4.0 Serif
--------------------------------------------------------------*/

.serif {
	font-family: "Arnhem";
	font-size: 24px;
	font-weight: 100;
	line-height: 38px;

	color: $night;

	@media (max-width: 400px) {
		font-size: 20px;
		line-height: 32px;
	}
}

/*--------------------------------------------------------------
5.0 Heading-3
--------------------------------------------------------------*/

.heading-3 {
	font-size: 18px;
	font-weight: 600;
	line-height: 25px;

	color: $night;

	letter-spacing: 0.3px;

	// .heading-3 + .heading-3
	& + & {
		margin-top: 5px;
	}


	//COLOR MODIFIERS
	// .heading-3--white
	&--white {
		color: $white;
	}

	// .heading-3--light
	&--light {
		color: $aluminum;
	}
}

/*--------------------------------------------------------------
6.0 Text
--------------------------------------------------------------*/

.text {
  font-family: $main-font;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;

  color: $aluminum;

	letter-spacing: 0px;

	@media (max-width: 600px) {
		font-size: 16px;
		line-height: 30px;
	}

  //COLOR MODIFIERS
	&--light-white {
    color: rgba($white, 0.7);
  }
}

/*--------------------------------------------------------------
7.0 Links
--------------------------------------------------------------*/

.link {
	position: relative;

	display: inline-block;

	font-weight: 600;

	color: $significa;

	//.text--link:after
	&:after {
		position: absolute;
		top: 50%;
		right: -32px;

		display: block;

		width: 24px;
		height: 14px;

		background-image: url('../images/slider/arrow__right--blue.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		content: '';

		@include translateY();
		@include default-transition();
	}

	//.text--link:hover
	&:hover {
		//.text--link:hover:after
		&:after {
			right: -48px;
		}
	}
}
