/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Font
2.0 Trasnitions
3.0 Number of Slides
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Font
--------------------------------------------------------------*/

$main-font: -apple-system, BlinkMacSystemFont,
	    "Segoe UI", "Roboto", "Oxygen",
	    "Ubuntu", "Cantarell", "Fira Sans",
	    "Droid Sans", "Helvetica Neue", sans-serif;

/*--------------------------------------------------------------
2.0 Transitions
--------------------------------------------------------------*/

$normal-transition-time: 0.2s;
$default-ease: ease;
