/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Bullets
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Bullets
--------------------------------------------------------------*/

.bullets {
  display: block;

  width: auto;
  height: 10px;
  height: 10px;
  margin: 0 auto;
  margin-top: 48px;

  text-align: center;

  @media (max-width: 600px) {
    margin-top: 32px;
  }

  // .bullets__item
  &__item {
    display: block;
    display: inline-block;

    width: 10px;
    height: 10px;
    margin: 0 4px;

    border-radius: 6px;
    background: $moon;

    cursor: pointer;

    @include default-transition();

    // .bullets__item--1
    &--1 {
      // When 1 is checked
      #slide-1:checked ~ .bullets & {
        background: $significa;
      }
    }

    // .bullets__item--2
    &--2 {
      // When 2 is checked
      #slide-2:checked ~ .bullets & {
        background: $significa;
      }
    }

    // .bullets__item--3
    &--3 {
      // When 3 is checked
      #slide-3:checked ~ .bullets & {
        background: $significa;
      }
    }

    // .bullets__item--4
    &--4 {
      // When 4 is checked
      #slide-4:checked ~ .bullets & {
        background: $significa;
      }
    }

    // .bullets__item--5
    &--5 {
      // When 5 is checked
      #slide-5:checked ~ .bullets & {
        background: $significa;
      }
    }

    // .bullets__item:hover
    &:hover {
      background: $significa;
    }
  }
}
