/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Card
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Card
--------------------------------------------------------------*/

.card {
  position: relative;

  display: block;

  border: 1px solid $moon;
  border-radius: 5px;
  background: $white;
}
